@keyframes bg {
  0% {
    background-size: 0 3px, 3px 0, 0 3px, 3px 0;
  }
  25% {
    background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
  }
  50% {
    background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
  }
  75% {
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
  }
  100% {
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
  }
}

div {
  width: 25%;
  margin: 2rem auto;
  padding: 2em;

  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #874a4a 100%, #ca2424 100%),
    linear-gradient(to bottom, #9bc732 100%, #4be802 100%),
    linear-gradient(to right, #24b9e6 100%, #1c83eb 100%),
    linear-gradient(to bottom, #41145b 100%, #ff18ec 100%);
  background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  animation: bg 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation-play-state: paused;
}

div:hover {
  animation-play-state: running;
}
